body, html {
    width: 100vw;
    height: 100vh;
    background: #1f1d26;
    font-family: 'Titillium Web', sans-serif;
}

.app-container {
    width: 100%;
}

.app-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    border: 1px;
}

.banner {
    width: 100%;
    height: 60px;
    background: #0e0b16;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7EFDD;
    margin-top: -7px;
}

.header-text-wrapper {
    width: 15%;
    height: 57px;
    font-size: 18px;
    color: #E7EFDD;
    height: 57px;
    background: #0e0b16;
    border: 0px;
}

.header-text-wrapper:focus {
    outline: none;
}

.content {
    width: 100vw;
    margin-top: 52px;
    margin-left: -7px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: -5px;
}

.device-name {
    font-size: 40px;
    color: #E7EFDD;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 35px;
}

@media (min-width: 24em){
    .content-row {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 250px;
        align-items: center;
        justify-content: center;
        border: 8px solid #E7EFDD;
        border-radius: 20px;
    }
}

@media (min-width: 64em){
    .content-row {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 280px;
        align-items: center;
        justify-content: center;
        border: 8px solid #E7EFDD;
        border-radius: 20px;
    }
}

@media (min-width: 72em){
    .content-row {
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 380px;
        align-items: center;
        justify-content: center;
        border: 8px solid #E7EFDD;
        border-radius: 20px;
    }
}

.circle-box {
    width: 22%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid #4716F6;
    background: #1f1d26;
}

@media (min-width: 24em){
    .data-number-green {
        font-size: 30px;
        color: #32CD32;
        font-weight: bold;
        margin-top: -40px;
    }
}

@media (min-width: 64em){
    .data-number-green {
        font-size: 40px;
        color: #32CD32;
        font-weight: bold;
        margin-top: -55px;
    }
}

@media (min-width: 72em){
    .data-number-green {
        font-size: 50px;
        color: #32CD32;
        font-weight: bold;
        margin-top: -70px;
    }
}

@media (min-width: 24em){
    .data-number-red {
        font-size: 30px;
        color: #cc0000;
        font-weight: bold;
        margin-top: -40px;
    }
}

@media (min-width: 64em){
    .data-number-red {
        font-size: 40px;
        color: #cc0000;
        font-weight: bold;
        margin-top: -55px;
    }
}

@media (min-width: 72em){
    .data-number-red {
        font-size: 50px;
        color: #cc0000;
        font-weight: bold;
        margin-top: -70px;
    }
}

@media (min-width: 24em){
    .progress {
        margin-top: 5px;
    }
}

@media (min-width: 64em){
    .progress {
        margin-top: 7.5px;
    }
}

@media (min-width: 72em){
    .progress {
        margin-top: 10px;
    }
}

@media (min-width: 24em){
    .data-header {
        font-size: 20px;
        color: #E7EFDD;
        font-weight: bold;
    }
}

@media (min-width: 64em){
    .data-header {
        font-size: 25px;
        color: #E7EFDD;
        font-weight: bold;
    }
}

@media (min-width: 72em){
    .data-header {
        font-size: 30px;
        color: #E7EFDD;
        font-weight: bold;
    }
}

@media (min-width: 24em){
    .data-status-good {
        font-size: 20px;
        color: #32CD32;
        font-weight: bold;
    }
}

@media (min-width: 64em){
    .data-status-good {
        font-size: 25px;
        color: #32CD32;
        font-weight: bold;
    }
}

@media (min-width: 72em){
    .data-status-good {
        font-size: 30px;
        color: #32CD32;
        font-weight: bold;
    }
}

@media (min-width: 24em){
    .data-status-bad {
        font-size: 20px;
        color: #cc0000;
        font-weight: bold;
    }
}

@media (min-width: 64em){
    .data-status-bad {
        font-size: 25px;
        color: #cc0000;
        font-weight: bold;
    }
}

@media (min-width: 72em){
    .data-status-bad {
        font-size: 30px;
        color: #cc0000;
        font-weight: bold;
    }
}

@media (min-width: 24em){
    .icon {
        font-size: 20px;
        color: #E7EFDD;
    }
}

@media (min-width: 64em){
    .icon {
        font-size: 25px;
        color: #E7EFDD;
    }
}

@media (min-width: 72em){
    .icon {
        font-size: 30px;
        color: #E7EFDD;
    }
}

.table {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 90%;
    border: 2px solid #E7EFDD;
    margin-top: 20px;
    background: #333238;
}

.table-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: #170c3f;
    border-bottom: 2px solid #E7EFDD;
    align-items: center;
}

.header-name {
    font-size: 20px;
    font-weight: bold;
    color: #E7EFDD;
    margin-left: 1%;
    width: 35%;
}

.header-pm {
    font-size: 20px;
    font-weight: bold;
    color: #E7EFDD;
    text-align: center;
    width: 10%;
}

.header-temp {
    font-size: 20px;
    font-weight: bold;
    color: #E7EFDD;
    text-align: center;
    width: 15%;
}

.header-hum {
    font-size: 20px;
    font-weight: bold;
    color: #E7EFDD;
    text-align: center;
    width: 10%;
}

.header-date {
    font-size: 20px;
    font-weight: bold;
    color: #E7EFDD;
    margin-left: 4%;
    width: 25%;
}

.table-row-odd {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: #333238;
    align-items: center;
}

.row-name-odd {
    font-size: 20px;
    color: #E7EFDD;
    margin-left: 1%;
    width: 35%;
}

.row-pm-odd {
    font-size: 20px;
    color: #E7EFDD;
    text-align: center;
    width: 10%;
}

.row-temp-odd {
    font-size: 20px;
    color: #E7EFDD;
    text-align: center;
    width: 15%;
}

.row-hum-odd {
    font-size: 20px;
    color: #E7EFDD;
    text-align: center;
    width: 10%;
}

.row-date-odd {
    font-size: 20px;
    color: #E7EFDD;
    margin-left: 4%;
    width: 25%;
}

.table-row-even {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: #E7EFDD;
    align-items: center;
}

.row-name-even {
    font-size: 20px;
    color: #0e0b16;
    margin-left: 1%;
    width: 35%;
}

.row-pm-even {
    font-size: 20px;
    color: #0e0b16;
    text-align: center;
    width: 10%;
}

.row-temp-even {
    font-size: 20px;
    color: #0e0b16;
    text-align: center;
    width: 15%;
}

.row-hum-even {
    font-size: 20px;
    color: #0e0b16;
    text-align: center;
    width: 10%;
}

.row-date-even {
    font-size: 20px;
    color: #0e0b16;
    margin-left: 4%;
    width: 25%;
}

.filter-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 80%;
    height: 100px;
    border: 3px solid #170c3f;
    border-radius: 5px;
    background: #E7EFDD;
    margin-top: 20px;
    align-items: center;
}

.date-text {
    font-size: 30px;
    font-weight: bold;
    margin-right: 2.1%;
    color: #0e0b16;
}

.date-picker{
    height: 30px;
    font-size: 20px;
    margin-right: 2.1%;
    width: 85%;
}

@media (min-width: 24em){
    .module-select{
        width: 15%;
        margin-right: 2.3%;
        margin-left: 3%;
    }
}

@media (min-width: 72em){
    .module-select{
        width: 20%;
        margin-right: 2.3%;
        margin-left: 8%;
    }
}

.filter-text{
    float: left;
    margin-bottom: 60px;
    margin-left: 1%;
    font-size: 28px;
    font-weight: bold;
    color: #0e0b16;
}